@model IEnumerable<GreenHiTech.ViewModels.UserVM>

@{
    ViewData["Title"] = "Admin Dashboard";
}
<div class="container-fluid mx-auto p-3 bg-white">
    <h2 class="text-xl font-bold my-4">All Users</h2>
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-bordered table-hover rounded-2">
                <thead style="background-color:#D7E4D4;">
                    <tr class="text-center">
                        <th class="px-4 py-2">ID</th>
                        <th class="px-4 py-2">First Name</th>
                        <th class="px-4 py-2">Last Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr class="text-center">
                            <td>@user.PkUserId</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>
                                <a asp-action="Detail" asp-route-id="@user.PkUserId"><i class="fa-solid fa-circle-info text-info"></i></a> |
                                <a asp-action="Edit" asp-route-id="@user.PkUserId"><i class="fa-solid fa-pen-to-square text-warning"></i></a> |
                                <button type="button"
                                        onclick="confirmDelete('user', '@user.PkUserId', 'deleteForm_@user.PkUserId')" style="border:none;">
                                    <i class="fa-solid fa-trash text-danger"></i>
                                </button>
                                <form id="deleteForm_@user.PkUserId" method="post" asp-action="Delete" asp-route-id="@user.PkUserId" style="display:none;">
                                    <input type="hidden" name="userId" value="@user.PkUserId" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
       
    }
    else
    {
        <p class="text-center">******* No users found ********</p>
    }
</div>





<!-- Modal -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p id="modalMessage">Are you sure you want to delete?</p>
        <div class="modal-buttons">
            <button id="confirmDeleteBtn" class="btn btn-danger">Yes</button>
            <button id="cancelDeleteBtn" class="btn btn-secondary">No</button>
        </div>
    </div>
</div>

<!-- Link to external JS  and CSS files -->
<link href="~/css/GreenHiTech.css" rel="stylesheet" />
<link href="~/css/DeleteModal.css" rel="stylesheet" />
<script src="~/js/deleteModal.js"></script>
