@model IEnumerable<GreenHiTech.ViewModels.OrderVM>

@{
    ViewData["Title"] = "Order";
}

<div class="container mt-5">
    <h2 class="mb-4">Orders</h2>
    <div class="=table-responsive" style="overflow-x: auto;">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PkId)</th>
                    <th>@Html.DisplayNameFor(model => model.FkUserId)</th>
                    <th>@Html.DisplayNameFor(model => model.OrderDate)</th>
                    <th>@Html.DisplayNameFor(model => model.TotalAmount)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.PkId</td>
                            <td>@order.OrderDate</td>
                            <td>@order.TotalAmount</td>
                            <td>@order.Status</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="OrderDetail" asp-action="Index" asp-route-orderId="@order.PkId">
                                    Order Details 
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">No orders yet.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>