@model GreenHiTech.ViewModels.ProductVM

@{
    ViewData["Title"] = "Detail";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PkId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PkId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FkCategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FkCategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImageVMs)
        </dt>
        <dd class="product-images">
            @if (Model.ProductImageVMs != null && Model.ProductImageVMs.Any())
            {
                int i = 0;
                foreach (var image in Model.ProductImageVMs)
                {
                    string altId = "image_" + i.ToString();
                    <img src=@image.ImageUrl alt=@altId class="detail-image"/>
                    i++;                     
                }
            }
            else
            {
                <div>No images</div>
            }
        </dd>
    </dl>
</div>
<div>

    <a class="btn btn-secondary" asp-controller="Product" asp-action="Index">Back to List</a>
    @if (User.IsInRole("Admin")) {}
    else if (User.IsInRole("Customer"))
    {
        <form  asp-controller="CartProduct" asp-action="AddToCart" method="post" asp-route-productId=@Model.PkId asp-route-quantity=1>
            <button class="btn btn-primary">Add to Cart</button>
        </form>
    }
    else if (User.IsInRole("Staff"))
    {
        <a class="btn btn-secondary" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.PkId">Edit</a>
    }

</div>

