@model IEnumerable<GreenHiTech.ViewModels.ProductVM>

@{
	ViewData["Title"] = "Products";
}

<br />
<h1>All the Products @ViewBag.CategoryName</h1>
<br />
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">@ViewBag.Message</div>
}
<table class="table table-striped table-bordered table-hover"
       style="width:500px;">
    <thead>
        <tr>
            <th>Image</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.StockQuantity)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    <img src="@(product.ProductImageVMs != null && product.ProductImageVMs.Any()
                                ? product.ProductImageVMs.First().ImageUrl
                                : "/images/no-image-available.jpg")"
                         alt="Product Image"
                         style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>@product.Name</td>
                <td>$ @product.Price</td>
                <td>@product.StockQuantity</td>
                <td><a asp-action="Details" asp-route-id=@product.PkId>Details</a></td>
                @* manager access only below *@
                <td><a asp-action="Edit" asp-route-id=@product.PkId>Edit</a></td>
                @* <td><a asp-action="Delete" asp-route-id=@product.PkId>Delete</a></td> *@
                <td>
                    <form asp-action="Delete" method="post" asp-route-id=@product.PkId style="display:inline;" id="deleteForm_@product.PkId">
                        @* <input type="hidden" name="userName" value="@ViewBag.UserName" /> *@
                        <input type="hidden" name="productId" value="@product.PkId" />
                        <button type="button" class="btn btn-danger" onclick="confirmDelete(@product.PkId)">Delete</button>
                    </form>
                </td>


            </tr>
        }
    </tbody>
</table>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p id="modalMessage">Are you sure you want to delete this product?</p>
        <div class="modal-buttons">
            <button id="confirmDeleteBtn" class="btn btn-danger">Yes</button>
            <button id="cancelDeleteBtn" class="btn btn-secondary">No</button>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <script src="~/js/modal.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


