@model IEnumerable<GreenHiTech.ViewModels.RoleVM>

@{
    ViewData["Title"] = "User Roles Detail";
}

<div class="container mt-5">
        <h1 class="text-center mb-4">User: @ViewBag.UserName</h1>
    <div class="card-body" style="max-width: 600px; margin: auto;">
            <div class="text-center mb-3">
                <a asp-action="Create" asp-route-userName="@ViewBag.UserName" class="btn btn-success">
                    Assign Roles
                </a>
            </div>

            <table class="table table-bordered table-hover text-center border-dark">
                <thead style="background-color: #494949; color: white;">
                    <tr>
                        <th>Role Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.RoleName</td>
                                @if (User.IsInRole("Admin"))
                                 {
                            <td>
                                <button type="button" class="btn btn-danger btn-sm"
                                        onclick="confirmDelete('role', '@role.RoleName', 'deleteForm_@role.RoleName')">
                                    Delete
                                </button>
                                <form id="deleteForm_@role.RoleName" method="post" asp-action="Delete" style="display:none;">
                                    <input type="hidden" name="userName" value="@ViewBag.UserName" />
                                    <input type="hidden" name="roleName" value="@role.RoleName" />
                                </form>
                             </td>
                              }
                        </tr>
                }
                </tbody>
            </table>
        <div class="card-footer text-center">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>


<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p id="modalMessage">Are you sure you want to delete this role?</p>
        <div class="modal-buttons">
            <button id="confirmDeleteBtn" class="btn btn-danger">Yes</button>
            <button id="cancelDeleteBtn" class="btn btn-secondary">No</button>
        </div>
    </div>
</div>

<!-- Link to external JS  and CSS files -->
<link href="~/css/GreenHiTech.css" rel="stylesheet" />
<link href="~/css/DeleteModal.css" rel="stylesheet" />
<script src="~/js/deleteModal.js"></script>